<!DOCTYPE html>
<html>
<head>
    <title>Help page</title>
    <link rel="stylesheet" type="text/css" href="https://codepen.io/geoffyuen/pen/FCBEg.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='microcontroller.png') }}">
" />
</head>
<body style="background-color: #29233d; font-size: 11.5pt">
<center>
<h1 style="color: #dd5;">Instruction Set for RISC-Register ISA</h1>
<table class="rwd-table" style="background-color: #453c64; width: 80%">
<thead>
    <tr>
      <th style="text-align:left; vertical-align: text-top; width: 15%">Instruction</th>
      <th style="text-align:left; vertical-align: text-top; width: 25%">Examples</th>
      <th style="text-align:left; vertical-align: text-top; width: 60%">Description</th>
    </tr>
</thead>
{% for item in items %}
<tbody>
<TR>
    <TD style="text-align:left; vertical-align: text-top"><code>{{item.name}}</code></TD>
   <TD style="text-align:left; vertical-align: text-top">
       <ul style="padding: 0;">
           {% for example in item.examples %}
           <li><code>{{example}}</code></li>
           {% endfor %}
       </ul>
   </TD>
   <TD style="text-align:left; vertical-align: text-top">{{item.description}}</TD>
</TR>
</tbody>
{% endfor %}
</table>
    <br>
    <h5 style="color: #dd5;">Assembly Simulator project 2020</h5>
    <h5 style="color: #dd5;">GNU General Public License v3.0</h5>
</center>
</body>
</html>